@media (prefers-color-scheme: dark) {
    :root {
        --bg: black;
        --clr: white;
        --shadow: 2px; /*bigger glow in darkmode looks cool, but kinda weird in light*/
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --bg: white;
        --clr: black;
        --shadow: 1px;
    }
}

html, body, main {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    font-family: 'Roboto Mono', 'Consolas', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;

    background-color: var(--bg);
    color: var(--clr);
}


.c {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    opacity: 0;
    transition: opacity 1s 200ms;
}

.c.rdy {
    opacity: 1;
}

.i {
    font-size: 2vmax;
}

.w {
    width: 100%;
}

.t {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.t > span {
    display: initial;
    filter: drop-shadow(0px 0px var(--shadow) var(--clr)); /*bit of a hacky way to make the text a bit smoother*/
}

.t > span:after {
    font-size: 25%;
}

@media (orientation: landscape) {
    .t {
        font-size: 15vmax;
    }
}

@media (orientation: portrait) {
    .t {
        flex-direction: column;
        font-size: 20vmax;
    }
}

.t > #ms {
    font-size: 5vmax;
}

.t > #ms:after {
    content: 'ms';
}

.t > #s:after {
    content: 's';
}

.t > #m:after {
    content: 'm';
}

.t > #h {
    display: none; /*hours hidden by default*/
}

.t > #h:after {
    content: 'h';
}

.t > #d {
    display: none; /*days hidden by default*/
}


.t > #d:after {
    content: 'd';
}

.t.h {
    font-size: 12vmax;
}

.t.h > #h {
    display: initial; /*show hours with h class*/
}

.t.d {
    font-size: 8vmax;
}

.t.d > #d {
    display: initial; /*show days with d class*/
}
