/*@media (prefers-color-scheme: dark) {*/
/*    :root {*/
/*        --bg: black;*/
/*        --clr: white;*/
/*        --shadow: 2px; !*bigger glow in darkmode looks cool, but kinda weird in light*!*/
/*    }*/
/*}*/

/*@media (prefers-color-scheme: light) {*/
/*    :root {*/
/*        --bg: white;*/
/*        --clr: black;*/
/*        --shadow: 1px;*/
/*    }*/
/*}*/

:root {
    --bg: black;
    --clr: white;
    --shadow: 2px;
}

html, body, main {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    font-family: 'Roboto Mono', 'Consolas', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;

    background-color: var(--bg);
    color: var(--clr);
}


.c {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    opacity: 0;
    transition: opacity 1s 200ms;
}

.c.rdy {
    opacity: 1;
}

.i {
    font-size: 2vmax;
}

.w {
    width: 100%;
}

.t {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

.t > span {
    display: initial;
    filter: drop-shadow(0px 0px var(--shadow) var(--clr)); /*bit of a hacky way to make the text a bit smoother*/
}

.t > span:after {
    font-size: 25%;
}

@media (orientation: landscape) {
    .t {
        font-size: 15vmax;
    }
}

@media (orientation: portrait) {
    .t {
        flex-direction: column;
        font-size: 20vmax;
    }
}

.t > #ms {
    font-size: 5vmax;
}

.t > #ms:after {
    content: 'ms';
}

.t > #s:after {
    content: 's';
}

.t > #m:after {
    content: 'm';
}

.t > #h {
    display: none; /*hours hidden by default*/
}

.t > #h:after {
    content: 'h';
}

.t > #d {
    display: none; /*days hidden by default*/
}


.t > #d:after {
    content: 'd';
}

.t.h {
    font-size: 12vmax;
}

.t.h > #h {
    display: initial; /*show hours with h class*/
}

.t.d {
    font-size: 10vmax;
}

.t.d > #d {
    display: initial; /*show days with d class*/
}

/** LEADERBOARD **/

a.l {
    position: absolute;
    top: 12px;
    right: 12px;
}

a.l > img {
    width: auto;
    height: min(4vmin, max(1.6vmax, 40px));
    filter: invert(1);
}

div.l {
    display: none;
    position: absolute;
    width: 0;
    height: 0;
}

div.l.v {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100%;
    z-index: 100;
}

div#l {
    width: 55vw;
    height: 70vh;
    padding: 30px;

    opacity: 0.95;
    background-color: #222222;

    font-size: max(3vmin, 16px);
    font-weight: 300;
}

div#l > div {
    filter: drop-shadow(0px 0px 2px black);
}

div#l .slf {
    font-weight: 400;
}

@media (orientation: landscape) {
    div#l {
        width: 40vw;
    }
}

@media (orientation: portrait) {
    div#l {
        width: 90vw;
        padding: 10px;
    }
}

/** ORB **/


@keyframes orb {
    100% {
        top: 0px;
    }
    95% {
        opacity: 0;
        transform: scale(0);
    }
    90% {
        transform: scale(0.5);
    }
    70% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.5);
    }
    15% {
        transform: scale(1);
    }
    0% {
        opacity: 1;
    }
}

.o {
    opacity: 0;
    position: absolute;
    z-index: 100;

    filter: drop-shadow(0px 0px 10px var(--clr));
}

@media (orientation: landscape) {
    .o {
        font-size: 2vmax;
    }
}

@media (orientation: portrait) {
    .o {
        font-size: 3vmax;
    }
}

.o.a {
    /*display: block;*/
    animation-name: orb;
    animation-duration: 2s;
    animation-timing-function: linear;
}


/** FOOTER **/

footer .a {
    bottom: 5px;
    position: absolute;
    width: 100%;
    font-size: max(1.6vmin, 18px);
}

footer .a a {
    color: #08bed5;
}

footer a {
    text-decoration: none;
}
